:root {
  /* ----------color palette---------- */
  --color-black: rgb(0, 0, 0);
  --color-grey-darkest: rgb(52, 58, 64);
  --color-grey-dark: rgb(73, 80, 87);
  --color-grey-medium: rgb(108, 117, 125);
  --color-grey-light: rgb(173, 181, 189);
  --color-white: rgb(255, 255, 255);
  --color-accent: rgb(227, 27, 35);

  /* ----------color values---------- */
  --color-black-value: 0, 0, 0;
  --color-grey-darkest-value: 52, 58, 64;
  --color-grey-dark-value: 73, 80, 87;
  --color-grey-medium-value: 108, 117, 125;
  --color-grey-light-value: 173, 181, 189;
  --color-white-value: 255, 255, 255;
  --color-accent-value: 227, 27, 35;

  /* ----------fonts---------- */
  --header-font: "Bebas Neue", sans-serif;
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Roboto", sans-serif;

  /* ----------spacing----------*/
  --space-2xs: clamp(0.25rem, 0.2vw + 0.2rem, 0.375rem);
  --space-xs: clamp(0.5rem, 0.4vw + 0.4rem, 0.75rem);
  --space-sm: clamp(0.75rem, 0.7vw + 0.6rem, 1.125rem);
  --space-md: clamp(1rem, 1vw + 0.8rem, 1.5rem);
  --space-lg: clamp(1.5rem, 1.5vw + 1.2rem, 2.25rem);
  --space-xl: clamp(2rem, 2vw + 1.6rem, 3rem);
  --space-2xl: clamp(3rem, 3vw + 2.4rem, 4.5rem);
  --space-3xl: clamp(4rem, 4vw + 3.2rem, 6rem);
  --space-4xl: clamp(5rem, 5vw + 4rem, 8rem);
  --space-5xl: clamp(6rem, 6vw + 4.8rem, 10rem);
  --space-6xl: clamp(7rem, 7vw + 5.6rem, 12rem);
  --space-7xl: clamp(8rem, 8vw + 6.4rem, 14rem);
  --space-8xl: clamp(9rem, 9vw + 7.2rem, 16rem);
  --space-9xl: clamp(10rem, 10vw + 8rem, 18rem);

  /* ----------typography---------- */
  --text-2xs: clamp(0.25rem, 0.35vw + 0.25rem, 0.5rem);
  --text-xs: clamp(0.5rem, 0.45vw + 0.4rem, 0.75rem);
  --text-sm: clamp(0.75rem, 0.65vw + 0.55rem, 1rem);
  --text-base: clamp(1rem, 0.9vw + 0.7rem, 1.25rem);
  --text-lg: clamp(1.25rem, 1.15vw + 0.85rem, 1.5rem);
  --text-xl: clamp(1.5rem, 1.4vw + 1rem, 2rem);
  --text-2xl: clamp(1.75rem, 1.65vw + 1.2rem, 2.5rem);
  --text-3xl: clamp(2.25rem, 2.15vw + 1.6rem, 3rem);
  --text-4xl: clamp(2.75rem, 2.65vw + 2rem, 3.5rem);
  --text-5xl: clamp(3.5rem, 3.5vw + 2.8rem, 4.5rem);
  --text-6xl: clamp(4.5rem, 4.5vw + 3.6rem, 6rem);
  --text-7xl: clamp(5.5rem, 5.5vw + 4.4rem, 7.5rem);
  --text-8xl: clamp(6.5rem, 6.5vw + 5.2rem, 9rem);

  /* ---------transitions---------- */
  --transition-duration: 0.3s;
  --transition-duration-short: 0.2s;
  --transition-ease: cubic-bezier(0.4, 0, 0.2, 1);
  --transition: all var(--transition-duration) var(--transition-ease);
  --transition-short: all var(--transition-duration-short)
    var(--transition-ease);
}

.dark-mode {
  --color-black: rgb(255, 255, 255);
  --color-grey-darkest: rgb(203, 197, 192);
  --color-grey-dark: rgb(182, 175, 171);
  --color-grey-medium: rgb(147, 138, 132);
  --color-grey-light: rgb(82, 76, 71);
  --color-white: rgb(0, 0, 0);
  --color-accent: rgb(227, 27, 35);

  /* ----------color values---------- */
  --color-white-value: 0, 0, 0;
  --color-grey-light-value: 82, 76, 71;
  --color-grey-medium-value: 147, 138, 132;
  --color-grey-dark-value: 182, 175, 171;
  --color-grey-darkest-value: 203, 197, 192;
  --color-black-value: 255, 255, 255;
  --color-accent-value: 227, 27, 35;
}

/* ----------animations---------- */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shimmer {
  0% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  }
  50% {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
  }
  100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes pulseGlow {
  0% {
    filter: drop-shadow(0 0 2px rgba(227, 27, 35, 0.1));
  }
  100% {
    filter: drop-shadow(0 0 8px rgba(227, 27, 35, 0.7));
  }
}

@keyframes expandLine {
  0% {
    width: 25%;
  }
  100% {
    width: 90%;
  }
}

@keyframes moveTopDownTop {
  0% {
    transform: translateY(0);
    filter: blur(0);
  }
  50% {
    transform: translateY(50px);
    filter: blur(2px);
  }
  66.67% {
    transform: translateY(50px);
    filter: blur(2px);
  }
  100% {
    transform: translateY(0);
    filter: blur(0);
  }
}

@keyframes moveLeftRightLeft {
  0% {
    transform: translateX(0);
    filter: blur(0);
  }
  50% {
    transform: translateX(50px);
    filter: blur(2px);
  }
  66.67% {
    transform: translateX(50px);
    filter: blur(2px);
  }
  100% {
    transform: translateX(0);
    filter: blur(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes arrowFlow {
  0% {
    transform: translateX(-10px);
    opacity: 0.3;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(10px);
    opacity: 0.3;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulseEffect {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes particle-float {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 0;
  }
  10% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(-200px) translateX(100px);
    opacity: 0;
  }
}

@keyframes ball {
  0% {
    transform: scale(1) translateX(0);
  }
  50% {
    transform: scale(1.5) translateX(-45px) translateY(-25px);
  }
  100% {
    transform: scale(1) translateX(0);
  }
}
